.info-col {
    background-color: white;
    margin-inline: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}

@media (max-width: 755px) {
    .info-col {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .y-map {
        height: 450px;
    }
}