@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-image: url("../images/bg-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #333;
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand {
    margin-right: 0;
}

.logotip-span {
    color: white;
    font-size: 1.4rem;
}

.div-main,
.modal-fade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96vh;
}

.pos-sticky {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
    z-index: 4;
}

.catalog-btn,
.filter-btn,
.catalog-item,
.cart-btn {
    font-size: 1.23em;
    align-items: center;
}

.catalog-btn img,
.cart-btn img {
    width: 1.4em;
    height: 1.4em;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0;
}

.dropdown-toggle::after {
    content: none;
}

/* Модальное окно */

.btn-close {
    -webkit-transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.btn-close:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.modal-body>h3 {
    font-weight: bold;
    font-size: 1.6rem;
}

.modal-card-title.product-title {
    color: black;
    line-height: 1.4;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.product-header,
.card-col,
.modal-card-items {
    align-items: center;
}

.number {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-left: 0.3rem;
}

.number input[type="number"] {
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.number-minus,
.number-plus {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.number-minus {
    left: 1px;
    border-right: 1px solid #ddd;
}

.number-plus {
    right: 1px;
    border-left: 1px solid #ddd;
}

.container-create-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-create-order {
    width: 85%;
}

/* Конец модального окна */

@media (max-width: 340px) {
    .card-col-cart {
        max-width: 40px;
    }

    .card-col-price {
        max-width: 70px;
    }

    .modal-card-price {
        font-size: 0.7rem;
    }
    .number {
        width: 70px;
    }
}

@media (max-width: 400px) {
    .modal-body {
        padding-inline: 0;
    }

    .modal-container {
        padding-inline: 0.5rem;
    }


}

@media (max-width: 755px) {
    .catalog-btn,
    .filter-btn,
    .catalog-item,
    .cart-btn {
        font-size: 1em;
    }

    .filter-form {
        width: 200px;
    }

    .card-col-cart {
        max-width: 50px;
    }

    .number {
        width: 80px;
    }

}

@media (min-width: 755px) and (max-width: 1024px) {
    /* .catalog-btn,
    .filter-btn,
    .catalog-item,
    .cart-btn {
        font-size: 1.5rem;
    } */

    .catalog-btn img,
    .cart-btn img {
        width: 1.8rem;
        height: 1.8rem;
    }

}

@media (min-width: 992px) {
    .logotip-span {
        display: none;
    }
}